* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter-SemiBold'), local('Inter-Bold'), local('Inter-Regular'),
    url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf'), format('TrueType');
  font-weight: 400, 600, 700;
  font-style: normal;
}
:root {
  --grey-900: hsl(0, 0%, 8%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-700: hsl(0, 0%, 20%);
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
}

body {
  min-width: 100dvw;
  height: auto;
  min-height: 100dvh;
  background-color: var(--grey-900);
  display: grid;
  place-items: center;
  font-size: 14px;
}
.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  max-width: 320px;
  width: 100%;
  height: auto;
  background-color: var(--grey-800);
  padding: 30px;
  border-radius: 12px;
  color: var(--white);
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}
.card__header {
  gap: 10px;
}
.card__header img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card__name {
  font-weight: 600;
  font-size: 1.5rem;
}
.card__origin {
  color: var(--green);
  font-size: 0.9rem;
}
.body__list {
  list-style: none;
  gap: 15px;
}
.list-item {
  width: 100%;
  padding: 15px 0;
  background-color: var(--grey-700);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.list-item:hover {
  color: var(--grey-900);
  background-color: var(--green);
}
.list-item a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

@media (max-width: 600px) {
  .card {
    padding: 15px;
  }
  .card__header img {
    width: 60px;
  }
}
